[submodule "ext/nrfx"]
	path = ext/nrfx
	url = https://github.com/uLipe/nrfx.git
	branch = master

[submodule "ext/printf"]
	path = ext/printf
	url = https://github.com/uLipe/printf
	branch = master


[submodule "ext/unity"]
	path = ext/unity
	url = https://github.com/uLipe/Unity
	branch = master
